<!DOCTYPE html>
<head>
    <meta charset="UTF-8">
</head>
<html>
<body>
    <div id="nav">
        <div id="title" onclick="location.href = './index.html'">Cards Against Humanity</div>
    </div>
    <div id="timer">
        <div id="timer-slider"></div>
        <div id="timer-text"></div>
    </div>
    <div id="card-table">
        <div id="czar-hand"></div>
        <div id="player-hand"></div>
    </div>
    <!-- Including webpack packaged script file. DO NOT DELETE! -->
    <script src="./game.js"></script>
    <footer class="footer"></footer>
</body>
</html>
