<!DOCTYPE html>
<head>
    <meta charset="UTF-8">
    <script type="text/javascript" src="https://use.typekit.net/qzd1sci.js"></script>
</head>
<html>
<body>
    <div id="nav">
        <!--<div id="title" onclick="location.href = './index.html'">Cards Against Humanity</div>-->
        <div class="filler"></div>
        <div class="right-btn" onclick="location.href = 'register.html'">Register</div>
        <div class="right-btn" onclick="location.href = 'login.html'">Login</div>
    </div>

    <div class="header-card">
        <h1>Cards<br>Against<br>Humanity</h1>
        <p>A party game<br>for horrible people.</p>
    </div>

    <!-- Including webpack packaged script file. DO NOT DELETE! -->
    <script src="./index.js"></script>
    <footer class="footer"></footer>
</body>
</html>
