<!DOCTYPE html>
<head>
  <meta charset="UTF-8" />
  <script
    type="text/javascript"
    src="https://use.typekit.net/qzd1sci.js"
  ></script>
</head>
<html>
  <body>
    <div id="nav">
      <div id="title" onclick="location.href = './index.html'">
        Cards Against Humanity
      </div>
      <div class="filler"></div>
      <div class="right-btn" onclick="location.href = 'index.html'">Home</div>
    </div>

    <div class="container">
      <div class="white-card">
        <div class="bottom-card"></div>
        <div class="second-card"></div>
        <div class="third-card">
          <label
            >There are currently x<br />public rooms available.<br /><br />Please
            enter your login<br />details to continue.</label
          >
        </div>

        <div class="username-or-email-card">
          <input type="text" placeholder="Username or Email" />
        </div>
        <div class="password-card">
          <input type="password" placeholder="Password" />
        </div>
        <div class="login-card">
          <input type="button" class="login-btn" value="Login" />
        </div>
      </div>
    </div>

    <!-- Including webpack packaged script file. DO NOT DELETE! -->
    <script src="./login.js"></script>
    <footer class="footer"></footer>
  </body>
</html>
